:root {
	--font-body: 'Work Sans', sans-serif;
	--font-title: 'Roboto Serif', sans-serif;
	--font-light: 300;
	--font-medium: 500;
	--font-bold: 600;
	--size-sm: 0.85em;
	--size-xs: 0.75em;
	--size-reg: 1em;
	--size-md: 1.25em;
	--size-lg: 1.5em;
	--size-xl: 2em;
}

html,
body,
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--lighter-color: rgb(247, 196, 102);
	--darker-color: rgb(206, 74, 74);
	--hover-color: rgb(197, 53, 53);
	--lightest: rgb(200, 200, 200);
	--darkest: rgb(51, 48, 48);
	--input-bg: #fccbaa;
	--input-color: var(--darker-color);

	background: linear-gradient(var(--lighter-color), var(--darker-color));
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: var(--font-body);
	font-size: 18px;
	font-weight: var(--font-light);
	color: var(--darkest);
	line-height: 1.4;
}

body.dark {
	--lighter-color: rgb(171, 15, 202);
	--darker-color: rgb(46, 2, 54);
	--hover-color: rgb(7, 3, 8);
	--darkest: rgb(200, 200, 200);
	--lightest: rgb(51, 48, 48);
	--input-bg: #905fbc;
}

.fixed-width {
	max-width: 1000px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.header {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.header h1 {
	font-family: var(--font-title);
	font-size: var(--size-xl);
	font-weight: var(--font-bold);
	color: var(--darker-color);
	line-height: 1.4;
	margin-bottom: 30px;
}

.header .switch {
	width: 60px;
	height: 30px;
	padding: 5px;
	border: none;
	border-radius: 16px;
	background-color: var(--darker-color);
	cursor: pointer;
}

.header .switch .btn-inner {
	height: 100%;
	width: 100%;
	border-radius: 16px;
	background-color: var(--hover-color);
	display: block;
	position: relative;
	overflow: hidden;
}

.header .switch .clicker {
	width: 20px;
	height: 20px;
	border-radius: 16px;
	background-color: var(--lighter-color);
	position: absolute;
	right: 1px;
	top: 0;
	box-shadow: 0 0 5px var(--darkest);
	transition: all 0.1s ease;
}

.dark .header .switch .clicker {
	right: calc(100% - 21px);
}

.header .switch-text {
	font-size: var(--size-xs);
	font-weight: var(--font-medium);
	text-transform: uppercase;
	margin-top: 5px;
}

.main {
	padding-top: 30px;
	padding-bottom: 30px;
	flex: 1;
}

.form {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
	padding: 30px 20px;
	border-radius: 6px;
	box-shadow: 0 10px 20px -10px rgb(51, 48, 48);
}

.form .input .field {
	position: relative;
	padding: 10px 0;
}

.form .input label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 15px;
	font-family: var(--font-body);
	font-size: var(--size-xs);
	font-style: italic;
	pointer-events: none;
	transition: opacity 0.5s ease;
}

.form .input .field.moved-label label {
	opacity: 0;
}

.form .input input {
	width: 100%;
	height: 40px;
	border-radius: 6px;
	border: none;
	box-shadow: none;
	background-color: var(--input-bg);
	font-size: var(--size-sm);
	color: var(--input-color);
	text-indent: 15px;
}

.form .input input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 50px var(--input-bg) inset;
	box-shadow: 0 0 0 50px var(--input-bg) inset;
	-webkit-text-fill-color: var(--input-color);
}

.form .input .error-inner {
	padding: 10px;
	border: 1px solid var(--darker-color);
	border-radius: 6px;
	background-color: rgb(206 74 74 / 40%);
}

.form .input .error-inner p,
.form .input .error-inner li {
	font-size: 0.75em;
	color: var(--lightest);
	line-height: 1.4;
}

.form .input .error-inner span {
	width: 14px;
	height: 14px;
	border: 1px solid var(--lightest);
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75em;
}

.form .submit button {
	margin-top: 8px;
	width: 100%;
	height: 40px;
	padding: 11px 15px 9px;
	border-radius: 6px;
	border: none;
	font-family: var(--font-title);
	font-size: var(--size-xs);
	color: rgb(200, 200, 200);
	background-color: var(--darker-color);
	cursor: pointer;
}

.form .submit button:hover {
	background-color: var(--hover-color);
	transition: background-color 0.3s ease;
}

.footer {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

a {
	font-family: var(--font-body);
	font-weight: var(--font-medium);
	color: var(--darkest);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

ul {
	list-style: none;
}
